<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="biscuitSettings"
             type="Providers.Configuration.BiscuitsSettings, 
                   Providers" />
  </configSections>

  <biscuitSettings defaultProvider="testProvider">
  </biscuitSettings>
</configuration>