<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="biscuitSettings"
             type="Providers.Configuration.BiscuitsSection, 
                   Providers" />
  </configSections>

  <biscuitSettings defaultProvider="testProvider">
    <providers>
      <add name="BourbonProvider" type="Providers.Configuration.BourbonProvider"/>
      <add name="CustardCreamProvider" type="Providers.Configuration.CustardCreamProvider"/>
      <add name="HobnobProvider" type="Providers.Configuration.HobnobProvider"/>
      <clear/>
    </providers>
  </biscuitSettings>
</configuration>